@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

body
{
    background-color: white;
    font-family: michroma;
    color: #0700d7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 2.5rem;
    color: #fbff00;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 1.5;
    color: #fbff00;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 1rem;
    color: #fbff00;
    display: flex;
    justify-content: center;
    align-items: center;
}
h5 {
    font-size: 0.6rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.card {
    background-color: #E02525;
    padding: 2rem;
    border-radius: 12px;
    max-width: 600px;
}